node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

!assets/css/tailwind.build.css
dist/
build/

vendor/
*.log

# Composer
composer.lock

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
.vscode/
.idea/

*.pid

logs/
*.log

public_html/files/*

# aber diese Dateien behalten
!public_html/files/index.php
!public_html/files/.gitkeep
