@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: 249, 115, 22;

        --low-spacer:
    }

    body.app {
        @apply text-white min-h-screen p-10;
        background: radial-gradient(circle at top, #1a1a1a, #0a0a0a);
    }

    .header {
        @apply mb-10;
    }

    .header>.title {
        @apply text-primary;
    }

    .header>.subtitle {
        @apply mt-2 text-gray-400;
    }

    h1 {
        @apply text-4xl md:text-5xl font-bold tracking-tight;
    }

    h2 {
        @apply text-3xl md:text-4xl font-semibold tracking-tight;
    }

    h3 {
        @apply text-2xl md:text-3xl font-semibold;
    }

    h4 {
        @apply text-xl md:text-2xl font-medium;
    }

    h5 {
        @apply text-lg font-medium;
    }

    h6 {
        @apply text-base font-semibold uppercase tracking-wider;
    }
}

@layer components {
    .card {
        @apply bg-zinc-900 border border-zinc-800 rounded-2xl p-6;
    }

    .btn {
        @apply gap-x-2 inline-flex flex-row border border-zinc-800 text-white transition-all duration-200;
    }

    .btn-sm {
        @apply rounded-sm py-2 px-3 text-sm;
    }

    .btn-md {
        @apply rounded-md py-3 px-4 text-base;
    }

    .btn-lg {
        @apply rounded-lg py-4 px-5 text-lg;
    }

    .btn-primary {
        @apply bg-zinc-950 hover:border-primary hover:shadow-lg hover:bg-primary hover:shadow-primary/10;
    }

    /* ALERTS */

    .alert {
        @apply w-full block rounded-lg py-5 px-6 mb-4 text-base;
    }

    /* Variants */
    .alert-primary {
        @apply bg-blue-100 text-blue-700;
    }

    .alert-secondary {
        @apply bg-purple-100 text-purple-700;
    }

    .alert-success {
        @apply bg-green-100 text-green-700;
    }

    .alert-danger {
        @apply bg-red-100 text-red-700;
    }

}